.help_info {
	margin-top: 10px;
	font-size: 12px;
	font-style: italic;
	color: #757576;
	.dashicons {
		display: inline-block;
		margin-right: 0px;
		font-size: 14px;
		line-height: 18px;
		color: #4f4f7d;
	}
}
